body {
    margin: 0;
    background-color: black;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 2fr 2fr .5fr;
}

.heroImage {
    grid-column: 1;
    width: 100%;
}

.heroText {
    grid-column: 2;
    padding: 2rem;
    padding-bottom: 0;
}

h1 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

h2 {
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;    
}

a {
    color: white;
    /* margin: 3rem 0; */
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
}

a:hover {
    color: pink;
}

.contentWrapper {
    margin: 6rem;
}

section {
    margin: 6rem 0;
}

p {
    font-family: monospace;
    font-size: 1rem;
}

#verticalBarChart {
    position: relative;
    width: 100%;
    height: 100%;
}

.mapGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

#doughnut {
    grid-column: span 2;
}

#map {
    grid-column: span 3;
}